#id_is_administrator, #id_is_moderator {
    width: 0;
    height: 0;
    display: inline;
    position: absolute;
    right: 25px;
}
.form-group {
    margin-bottom: 0;
}
.post {
    margin-bottom: 0;
    padding-top: 10px;
    border-bottom: 4px solid #eee;
}