{% extends 'forum/base_forum.html'%}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'boards' %}">
            Boards
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ board.name }}</li>
{% endblock %}

{% block content %}
{% if board.has_board_topics %}
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Topic</th>
            <th>Starter</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last update</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in page_objects %}
            <tr>
                <td>
                    <div>
                        <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
                        {% if topic.is_closed %}
                             <span><i class="fa fa-lock" style="float: right;"></i></span>
                        {% endif%}
                    </div>

                    <small class="text-muted d-block"></small>


                </td>
                <td>
                    {{ topic.who_started_topic.username }}
                </td>
                <td>
                    {{ topic.get_number_replies }}
                </td>
                <td>
                    {{ topic.views }}
                </td>
                <td>
                    {{ topic.last_updated }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

{% endif %}

<div class="footer">
    {% include 'pagination.html' %}
    <div class="reply" style="float:right">
        <a href="{% url 'new_topic' board.slug %}" class="btn btn-primary down" role="button">Start a new topic</a>
    </div>
</div>

{% endblock %}