{% extends 'forum/base_forum.html'%}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'boards' %}">
            Boards
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ board.name }}</li>
{% endblock %}

{% block content %}
{% if board.has_board_topics %}
<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Topic</th>
            <th>Starter</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last update</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in board.topics.all %}
            <tr>
                <td>
                    <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
                    <small class="text-muted d-block"></small>
                </td>
                <td>
                    {{ topic.who_started_topic.username }}
                </td>
                <td>
                    {{ topic.get_number_replies }}
                </td>
                <td>
                    {{ topic.views }}
                </td>
                <td>
                    {{ topic.last_updated }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

{% endif %}

<div class="mb-4">
    <a href="{% url 'new_topic' board.slug %}" class="btn btn-primary">Start a new topic</a>
</div>

{% endblock %}