{% extends 'forum/base_forum.html'%}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/simplemde.min.js' %}"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'boards' %}">
            Boards
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ board.get_absolute_url }}">
            {{ board.name }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">New topic</li>
{% endblock %}


{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    {% include 'form.html' %}
    <button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}