{% extends 'forum/base_forum.html'%}

{% load static %}

{% block title %}
Reply post
{% endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'boards' %}">
            Boards
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ topic.board.get_absolute_url }}">
           {{ topic.board.name }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ topic.get_absolute_url }}">
            {{ topic.name }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Post a reply
    </li>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {% include 'form.html' %}
    <button type="submit" class="btn btn-success">
        Post
    </button>
    <a href="{{ topic.get_absolute_url }}" class="btn btn-outline-secondary" role="button">
        Cancel
    </a>
</form>

{% endblock %}