{% extends 'forum/base_forum.html'%}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'boards' %}">
        Boards
    </a>
</li>
<li class="breadcrumb-item">
    <a href="{{ topic.board.get_absolute_url }}">
        {{ topic.board.name }}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ topic.name }}
</li>
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="card mb-2 {% if forloop.first %} border-dark {% endif %}">
    {% if forloop.first %}
    <div class="card-header text-white bg-dark py-2 px-3">{{ topic.name }}</div>
    {% endif %}
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-3 post-side">
                <div class="media">
                    <div class="media-left">
                        <a href="">
                            <img class="poster-avatar" src="{% static 'img/empty-avatar.png' %}"
                                 alt="{{ post.created_by.username }}" width="100"
                                 height="100">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <a href="" class="item-title">
                                {{ post.created_by.username }}
                            </a>
                        </div>
                        <span class="user-title">
                            User
                        </span>
                        <span style="display:block">
                            {{ post.created_by.posts.count }} posts
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <div class="post-heading">
                    {% if post.updated_at %}
                    <small class="text-muted">Edited {{ post.updated_at }}</small>
                    {% else %}
                    <small class="text-muted">{{ post.created_at }}</small>
                    {% endif %}
                </div>
                <div class="post-body">
                    <p>
                        {{ post.message }}
                    </p>
                </div>
                <div class="post-footer">
                    <a class="btn btn-default btn-sm pull-left" role="button">Like</a>
                    {% if post.created_by == user %}

                    <a href="{{ post.get_edit_url }}"
                       class="btn btn-primary btn-sm pull-right"
                       role="button">Edit</a>

                    {% endif %}
                </div>
                <div class="row mb-3">
                    <div class="col-6 text-right">

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endfor %}


<div class="footer">
    {% if posts.has_other_pages %}
    <nav aria-label="Page navigation example" style="float: left">
        <ul class="pagination justify-content-left">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a href="?page={{ posts.previous_page_number }}" class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}

            {% for n in posts.paginator.page_range %}

                {% if posts.number == n %}
                    <li class="page-item active">
                        <a href="?page={{ n }}" class="page-link">{{ n }}</a>
                        <span class="sr-only">(current)</span>
                    </li>
                {% elif n > posts.number|add:-3 and n < posts.number|add:3 %}
                    <li class="page-item">
                        <a href="?page={{ n }}" class="page-link">{{ n }}</a>
                        <span class="sr-only">(current)</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
                <li class="page-item">
                    <a href="?page={{ posts.next_page_number }}" class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}

    <div class="reply" style="float:right">
        <a href="{% url 'reply_post' topic.board.slug topic.slug %}" class="btn btn-primary down" role="button">Reply</a>
    </div>
</div>


{% endblock%}